body {
   background-color: grey;
   
  
    font-family: Arial, sans-serif;
  
  }
  
  #teste {
    background-color: rgb(255, 165, 0); /* laranja */
    border-radius: 10px 10px 10px 10px;
    color: white; /* coloca uma cor de texto branca */
    font-size: 20px; /* coloca um tamanho de fonte 20px */
    margin: 10px auto; /* centraliza a caixa horizontalmente */
    padding: 1px; /* coloca um espaçamento interno de 10px */
    text-align: center; /* centraliza o texto */
    width: 175; /* define a largura da caixa em 100px */
  }
  
  
  input, button {
    border-radius: 10px 10px 10px 10px;

    display: inline-block;
    margin: 5px;
   
  }
  
  
   
  
  
  p {
    color: black;
  }
  
  /* adiciona esse código para criar colunas com divisórias */
  
  
  
 
  
  /* adiciona esse código para dar mais cores e destaques aos resultados */
  
  #soma {
    background-color: rgb(255, 255, 255); /* branco */
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto; /* centraliza a caixa horizontalmente */
    padding: 1px; /* coloca um espaçamento interno de 10px */
    text-align: center;
    width: 175px;
}
  
  #soma p {
    font-weight: bold;
    
  }
  
  #cubo {
    background-color: rgb(16, 10, 131); /* azul escuro */
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto; /* centraliza a caixa horizontalmente */
    padding: 1px; /* coloca um espaçamento interno de 10px */
    text-align: center;
    width: 175px;
}

  
  #cubo p {
    font-style: italic;
  }
  
  #graus {
    background-color: rgb(58, 58, 207); /* azul claro */
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto; /* centraliza a caixa horizontalmente */
    padding: 1px; /* coloca um espaçamento interno de 10px */
    text-align: center;
    width: 175px;
}
  
  #graus p {
    text-decoration: underline;
  }
  
  #area {
    background-color: rgb(0, 212, 255); /* verde */
    border-radius: 10px 10px 10px 10px;
    margin: 9px auto; /* centraliza a caixa horizontalmente */
    padding: 1px; /* coloca um espaçamento interno de 10px */
    text-align: center;
    width: 175px;
}
  
  #area p {
    text-transform: uppercase;
  }
  
  #circulo {
    background-color: rgb(255, 165, 0); /* laranja */
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto; /* centraliza a caixa horizontalmente */
    padding: 1px; /* coloca um espaçamento interno de 10px */
    text-align: center;
    width: 175px;
}
  
  #circulo p {
    font-size: larger;
  }
  
  #palavras {
    background-color: rgb(255, 255, 255); /* branco */
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto; /* centraliza a caixa horizontalmente */
    padding: 1px; /* coloca um espaçamento interno de 10px */
    text-align: center;
    width: 175px;
}
  
  #palavras p {
    color: rgb(255, 165, 0); /* laranja */
  }